*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;                             /*sem margem*/
    padding: 0;                             /*sem espaços*/
    box-sizing: border-box; 
}

nav{                                        /*estilizar a barra horizontal*/
    background-color: #cf601c;            /*cor da barra*/
    display: flex;
    justify-content: center;                /*centraliza a barra horizontal*/
/*    margin-top: 0.5rem;                     /*margem acima da barra horizontal*/
/*   border-radius: 0.5rem;                  /*borda arredondada*/
    height: auto;                         /*altura da barra*/
}

nav ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin:0
}

nav li{                                     /*estilizar a lista*/
    display: inline-block;                  /*lista alinhada na horizontal*/
    padding: 0.1rem;                        /*aumenta o preenchimento do bloco*/
    margin: 10px;
}

nav li a{                                   /*estilizar os links*/
    color: #d8d1c8;                       /*cor das letras*/
    display: inline-block;                  /*aumenta verticalmente a barra*/
    text-decoration: none;                  /*retira o sublinhado*/
    padding: 0.64rem;                       /*espaçamento entre os itens*/
}

nav li a:hover{                             /*animação quando estiver com o mouse em cima*/
    background-color: #ce3537;            /*alterar para esta cor*/
    transition: .4s;                        /*transição mais suave*/
}

.submenu{                                   /*específico do submenu dos itens do leitor*/
    position: absolute;                     /*deixa os itens abaixo, na horizontal*/
    box-shadow: 0 0 0.4rem black;         /*cria borda no submenu*/
    display: none;                          /*ocultar o submenu*/
    background-color: #4f4543;
    width: 12rem;
}

.submenu a{                                 /*estilizar o submenu*/
    display: block;                         /*cria estrutura de bloco, na vertical*/
}

.dropdown:hover .submenu{                   /*aparecer o submenu!!*/
    display: block;                         /*formato bloco*/
    border-left: 0.2rem solid  black;     /*borda no submenu*/
    border-bottom: 0.15rem solid  black;  /*borda inferior no submenu*/
}

.submenu1{                                  /*específico do submenu dos itens do acervo*/
    position: absolute;                     /*deixa os itens abaixo, na horizontal*/
    box-shadow: 0 0 0.4rem black;         /*cria borda no submenu*/
    display: none;                          /*ocultar o submenu*/
    background-color: #4f4543
}

.submenu1 a{                                /*estilizar o submenu*/
    display: block;                         /*cria estrutura de bloco, na vertical*/
}

.dropdown1:hover .submenu1{                 /*aparecer o submenu!!*/
    display: block;                         /*formato bloco*/
    border-left: 0.2rem solid black;      /*borda no submenu*/
    border-bottom: 0.15rem solid black;   /*borda inferior no submenu*/
}

.submenu2{                                  /*específico do submenu dos itens do empréstimo*/
    position: absolute;                     /*deixa os itens abaixo, na horizontal*/
    box-shadow: 0 0 0.4rem black;         /*cria borda no submenu*/
    display: none;                          /*ocultar o submenu*/
    background-color: #4f4543
}

.submenu2 a{                                /*estilizar o submenu*/
    display: block;                         /*cria estrutura de bloco, na vertical*/
}

.dropdown2:hover .submenu2{                 /*aparecer o submenu!!*/
    display: block;                         /*formato bloco*/
    border-left: 0.2rem solid black;      /*borda no submenu*/
    border-bottom: 0.15rem solid black;   /*borda inferior no submenu*/
}

img{                                        /*imagem da página de login*/
    margin:auto;
    display: block;
    border-radius: 12px;
}

.container{                                 /*alinhamento da página de login*/
    text-align: center;
    padding-top: 2rem;
}

.site{                                      /*alinhamento do h3, página início*/
    text-align: center;
}

.box{                                       /*caixa da página de leitores geral*/
    width: auto;
    height: auto;
 /*   border: 0.5rem solid #d8d1c8; */
    border-radius: 0.5rem;
    padding-top: 2rem;
}

.titulo_leitor{                             /*alinhamento central, página de leitor geral*/
/*    text-align: center;                   Rafael: Acho mais bonito alinhado a esquerda do que central */
    padding: 10px;
    padding-left: 200px;
    font-weight: bold;
}

mark{
    color: #ce3537;
    background-color: #f0cb3b;
}

.table{                                      /*tabela utilizada em várias páginas*/
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

p{                                          /*alinhamento, pg localizar leitor e livro*/
    text-align: center;
    color: #444141;

}

h4{                                             /*alinhamento pg de logout*/
    text-align: center;
}

h5{                                             /*alinhamento pg de logout*/
    text-align: center;
}

#caixa-login{                                    /* Estilo da caixa de login */
    margin-top: 100px;
    padding: 30px;
    width: 500px;
    background: #F5F5F5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

.label-login{
    display: inline-block;
    width: 70px;
    text-align: left;
    vertical-align:middle;
}

#botao-entrar{
    width: 150px;
    height: 56px;
    font-weight: bold;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    border: 0;
}

#botao-entrar:hover {
    background: #b4b4b4;
}

.input-login{
    background: rgba(255, 253, 253, 0.38);
    border: 1px solid #C1E4F8;
    border-radius: 6px;
}

h3{
    font-weight:lighter;
    font-size: 20px;
}

.botao-icone{
    border: 0;
}

.item-box-cadastro{
    margin: 10px;
}

.box-cadastro{
    width: 70%;
    margin: auto;
}

.label-cadastro{
    text-align: left;
    margin: 0;
}

.form-control{
    width: 300px;
    display: inline-block;
}

.form-select{
    width: 300px;
    display: inline-block;
}

.btn{
    width: 150px;
    margin-top: 20px;
}

.box-filtro-leitor{
    margin: auto;
    padding: 0;
    display: inline-block;
}



.box-filtro-leitor li{
    display: inline-block;
}

.input-filtro{
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.botao-filtro{
    margin-top: 0;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.box-filtro{
    width: 90%;
    margin: auto;
}

.filter-label{
    margin: 0;
}

.inicio{
    width: 70%;
}

.teste{
    padding-left: 60%;
}

#deleteuser{
    margin-top: 100px;
    padding: 30px;
    width: 500px;
    background: #F5F5F5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deleteLivro{
    margin-top: 100px;
    padding: 30px;
    width: 500px;
    background: #F5F5F5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    border-radius: 10px
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    height: 100%;
}

#bodycredito{
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.credits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    margin: 0;
}

.personcredito {
    width: 100px;
    margin: 10px;
}

.personcredito img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.personcredito a {
    text-decoration: none;
}
