{% extends 'biblioteca/base.html' %}
{% load static %}
{% block title%}Inicio{% endblock%}
{% block content %}

  <title>Grupo Responsável</title>
  <style>
    .circle-img {
      border-radius: 50%;
      max-width: 100px;
      max-height: 100px;
      display: block;
    }
  </style>
  
<body>
  <h1>Grupo Responsável</h1>

  <div>
    <a href="https://www.linkedin.com/in/linkedin-username">
      <img src="caminho/para/sua/imagem.jpg" alt="Nome da Pessoa" class="circle-img">
    </a>
    <p><a href="https://www.linkedin.com/in/linkedin-username">Nome da Pessoa</a></p>
  </div>

  <!-- Adicione mais membros do grupo da mesma maneira -->
</body>
</html>



{% endblock %}