{% extends 'biblioteca/base.html' %}
{%load plotly_dash%}
{% load static %}
{% block title%}Inicio{% endblock%}
{% block content %}
<div class="box">
    <h3 class="titulo_leitor">Status Geral</h3>
    
    <div class="container">
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total de livros do acervo</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_livro}}</p>
            </div>
        </div>
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total livros <br>atualmente emprestados</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_emprestado}}</p>
            </div>
        </div>
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total de livros disponíveis</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_disponivel}}</p>
            </div>
        </div>
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total de leitores cadastrados</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_leitor}}</p>
            </div>
        </div>
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total de leitores</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_leitor_emprestimo}}</p>
            </div>
        </div>
        <div class="card text-center" style="display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">Total Emprestimos</h5>
                <p class="card-text" style="font-size: 18px;">{{qty_emprestimo_total}}</p>
            </div>
        </div>
    </div>
        
</div>

{% plotly_header %}
{% plotly_direct name="SimpleExample" %}
{% plotly_footer %}
<div>
    <img src="{% static '/img/logo500x500.jpeg' %}" alt="biblioteca comunitária Djeanne Firmino">
    <h5 class="site">Para acessar site vinculado, <a href="https://linktr.ee/bcdjeannefirmino" target="_blank">clique aqui</a></h5>
</div>


{% endblock %}