{% extends 'biblioteca/base.html' %}
{% load static %}
{% block title%}Inicio{% endblock%}
{% block content %}

<div class="box">
    <h3 class="titulo_leitor">Status Geral</h3>
    <table class="table table-striped table-bordered table-condensed table-hover inicio">                  <!--criar tabela-->
        <thead>                         <!--cabeça da tabela-->
            <tr>                        <!--criar o nome das colunas-->
                <th>Total de livros do acervo</th>
                <th>Total Emprestimos</th>
                <th>Total de livros disponíveis</th>
            </tr>
        </thead>
        <tbody>                         <!--criar o corpo da tabela-->
            <tr>
                <td>{{qty_livro}}</td>
                <td>{{qty_emprestado}}</td>
                <td>{{qty_livro_emprestado}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <img src="{% static '/img/logo500x500.jpeg' %}" alt="logo_biblioteca">
    <h5 class="site">Para acessar site vinculado, <a href="https://linktr.ee/bcdjeannefirmino" target="_blank">clique aqui</a></h5>
    <h5 class="site">time responsável, <a href="templates\biblioteca\wp2_desenvolvedor.html" target="_blank">clique aqui</a></h5>
</div>


{% endblock %}