{% extends 'biblioteca/base.html' %}
{% block title %}Novo Leitor{% endblock %}
{% block content %}   
{% load static %} 




<script type="text/javascript" src="static\js\Popup.js"></script>
<script type="text/javascript" src="{% static 'js/CEP.js' %}"> 
</script>

<div class="box">
    <h3 class="titulo_leitor">Cadastrar Novo Leitor</h3>   <!--título tabela-->
    <form method="post">
        {% csrf_token %}
        <ul style="list-style-type:none" class="box-cadastro">
            <li class="item-box-cadastro">
                <p class="label-cadastro">Nome</p>
                <input name='nome' id='nome' class="form-control" type="text" placeholder="Insira o nome" size="30" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">CEPx</p>
                <input name='cep' id='cep' class="form-control" type="number" placeholder="somente os 8 n°s" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Endereço</p>
                <input name='endereco' id='logradouro' class="form-control" type="text" placeholder="Rua/Av/Trav/..." autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">N°</p>
                <input name='numero' id='numero' class="form-control" type="number" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Bairro</p>
                <input name='bairro' id='bairro' class="form-control" type="text" size="20" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Cidade</p>
                <input name='cidade' id='localidade' class="form-control" type="text" size="20" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Estado</p>
                <input name='uf' id='uf' class="form-control" type="text" size="20" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">DDD</p>
                <input name='ddd' id="ddd" class="form-control" type="number" placeholder="(11)" size="20" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Telefone</p>
                <input name='telefone' id="telefone" class="form-control" type="tel" size="20" autocomplete="off"  placeholder="xxxxx-xxxx" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Status</p>
                <select name='ativo' class="form-select"  style="width: 300px;" required>
                        <option value="Ativo">Ativo</option>
                        <option value="Desativo">Desativo</option>
                </select>
            </li>
            <li class="item-box-cadastro">
                <input  class="btn btn-primary" type="submit" value="Salvar" id="botaoSalvar">
            </li>
           
        </ul>
    </form>
</div>



<style>
/* Estilos para o pop-up */
#popup-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    color: green;
}

.box-close {
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.box-close:hover {
    background: darkgreen;
}
</style>    
  
<div id="popup-box">
    <div class="popup-content">
        <p>Cadastro realizado com sucesso!</p>
        <button class="box-close" onclick="fecharPopup()">Fechar</button>
    </div>
</div>

<script>
  function fecharPopup() {
        document.getElementById("popup-box").style.display = "none";
    }

    document.getElementById("botaoSalvar").addEventListener("click", function(event) {
        // Impedir o envio padrão do formulário
        event.preventDefault();

        // Verificar se todos os campos estão preenchidos
        const nome = document.getElementById('nome').value;
        const cep = document.getElementById('cep').value;
        const endereco = document.getElementById('logradouro').value;
        const numero = document.getElementById('numero').value;
        const bairro = document.getElementById('bairro').value;
        const cidade = document.getElementById('localidade').value;
        const uf = document.getElementById('uf').value;
        const ddd = document.getElementById('ddd').value;
        const telefone = document.getElementById('telefone').value;

        if (nome && cep && endereco && numero && bairro && cidade && uf && ddd && telefone) {
            // Exiba o popup se todos os campos estão preenchidos
            document.getElementById("popup-box").style.display = "flex";
        } else {
            // Se algum campo está vazio, você pode exibir uma mensagem ou realizar alguma ação
            alert("Preencha todos os campos do formulário.");
        }
    });
</script>


{% endblock %}

