{% extends 'biblioteca/base.html' %}
{% block title %}Acervo{% endblock %}
{% block content %}
<div class="box">
    <h3 class="titulo_leitor">Acervo Geral</h3>
    <form action="{% url 'acervo-geral' %}" class="box-filtro">
        <ul style="list-style-type:none" class="box-filtro-leitor">
            <li>
                <input name="tombo" class="form-control input-filtro" type="text" placeholder="tombo" size="30" autocomplete="off">
            </li>
            <li>
                <input name="titulo" class="form-control input-filtro" type="text" placeholder="Nome do Livro" size="30" autocomplete="off">
            </li>
            <li>
                <input name="autor" class="form-control input-filtro" type="text" placeholder="Autor Livro" size="30" autocomplete="off">
            </li>
            <li>
                <input name="classificacao" class="form-control input-filtro" type="text" placeholder="Classificação" size="30" autocomplete="off">
            </li>
        </ul>
        <ul style="list-style-type:none" class="box-filtro-leitor">
            <a href="{% url 'acervo-geral' %}">
                <li>
                    <button type="button" class="btn btn-outline-primary botao-filtro">Limpar</button>
                </li>
            </a>
            <li>
                <button  class="btn btn-primary botao-filtro" type="submit">Filtrar</button>
            </li>
        </ul>
    </form>
    <table class="table table-striped table-bordered table-condensed table-hover">                  <!--criar tabela-->
        <thead>                         <!--cabeça da tabela-->
            <tr>                        <!--criar o nome das colunas-->
                <th width="50">Tombo</th>
                <th width="250">Titulo</th>
                <th width="250">Autor</th>
                <th width="100">Classificação</th>
                <th width="50">NA</th>
                <th>Status</th>
                <th width="60">Editar</th>
            </tr>
        </thead>
        <tbody>                         <!--criar o corpo da tabela-->
            {% for livro in livro%}
            <tr>
                <td>{{livro.tombo}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.classificacao}}</td>
                <td>{{livro.na}}</td>
                <td>{{ livro.status }}</td>
                <td>
                    <a href="{% url 'acervo-geral' %}/{{livro.livro_id}}">
                        <button class="botao-icone">&#x1F4DD</button>              <!--emoji &#x1F4DD editar-->
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br>
    <div class="teste">
        <span>
            {% if livro.has_previous %}
                <a href="?page=1&nome={{nome}}&autor={{autor}}&classificacao={{classificacao}}">&laquo; Primeira</a>
                <a href="?page={{ livro.previous_page_number }}&nome={{nome}}&autor={{autor}}&classificacao={{classificacao}}">Anterior</a>
            {% endif %}
    
            <span>
                Página {{ livro.number }} de {{ livro.paginator.num_pages }}.
            </span>
    
            {% if livro.has_next %}
                <a href="?page={{ livro.next_page_number }}&nome={{nome}}&autor={{autor}}&classificacao={{classificacao}}">Próxima</a>
                <a href="?page={{ livro.paginator.num_pages }}&nome={{nome}}&autor={{autor}}&classificacao={{classificacao}}">lÚltima &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}