{% extends 'biblioteca/base.html' %}
{% block title %}Cadastro Acervo{% endblock %}
{% block content %}
<div class="box">
    <h3 class="titulo_leitor">Cadastrar Novo Livro</h3>   <!--título tabela-->
    <form method="post">
        {% csrf_token %}
        <ul style="list-style-type:none" class="box-cadastro">
            <li class="item-box-cadastro">
                <p class="label-cadastro">Tombo</p>
                <input name="tombo" class="form-control" type="number" placeholder="Tombo" size="20" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Titulo</p>
                <input name="titulo" class="form-control" type="text" placeholder="Titulo do livro" size="30" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Autor</p>
                <input name="autor" class="form-control" type="text" placeholder="nome do autor" size="30" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">Classificação</p>
                <input name="classificacao" class="form-control" type="text" placeholder="infantil/juvenil/adulto" size="25" autocomplete="off" required>
            </li>
            <li class="item-box-cadastro">
                <p class="label-cadastro">NA</p>
                <input name="na" class="form-control" type="number"  id="n" size="20" required>
            </li>
            <li class="item-box-cadastro">
                <input class="btn btn-primary" type="submit" value="Salvar">
            </li>
        </ul>
    </form>
</div>

<style>
    /* Estilos para o pop-up */
    #popup-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .popup-content p {
        color: green;
    }

    .box-close {
        background: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .box-close:hover {
        background: darkgreen;
    }
</style>

<div id="popup-box">
    <div class="popup-content">
        <p>Cadastro do livro realizado com sucesso!</p>
        <button class="box-close" onclick="fecharPopup()">Fechar</button>
    </div>
</div>


<script>
    function fecharPopup() {
        document.getElementById("popup-box").style.display = "none";
    }

    document.querySelector("form").addEventListener("submit", function(event) {
        // Impedir o envio padrão do formulário
        event.preventDefault();

        // Exiba o popup
        document.getElementById("popup-box").style.display = "flex";
    });
</script>


{% endblock %}