{% extends 'biblioteca/base.html' %}
{% block title%}Emprestimo{% endblock %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'js/Get-PDF-emprestimo.js' %}"></script>
<div class="box" id="box">
    <h3 class="titulo_leitor">Status dos Livros Emprestados:</h3>                                    <!--resultado da busca-->
    <div class="box-filtro">
        <form>
            <ul style="list-style-type:none" class="box-filtro-leitor">
                <li>
                    <input name="leitor_id" class="form-control input-filtro" type="text" placeholder="ID Leitor" size="30" autocomplete="off">
                </li>
                <li>
                    <input name="tombo" class="form-control input-filtro" type="text" placeholder="Tombo" size="30" autocomplete="off">
                </li>
                <li>
                    <p class="filter-label">Data Emprestimo</p>
                    <input name="data_emprestimo" class="form-control input-filtro" type="date">
                </li>
                <li>
                    <p class="filter-label">Data Devolução</p>
                    <input name="data_devolucao" class="form-control input-filtro" type="date">
                </li>
                <li>
                    <p class="filter-label">Status</p>
                    <select name='entrega' class="form-select input-filtro">
                        <option value=""></option>                    
                        <option value="Entregue">Entregue</option>
                        <option value="Não Entregue">Não Entregue</option>
                        <option value="Atrasado">Atrasado</option>
                </select>
                </li>
            </ul>
            <ul style="list-style-type:none" class="box-filtro-leitor">
                <li >
                    <a href="{% url 'emprestimo' %}">
                        <button type="button" class="btn btn-outline-primary botao-filtro">Limpar</button>
                    </a>
                </li>
                <li>
                    <button class="btn btn-primary botao-filtro" type="submit">Filtrar</button>
                </li>
            </ul>
        </form>
        <button  class="btn btn-info botao-filtro" onclick="openFormPDF()" >Gerar Pdf</button>
        <div style="width: 60%;padding: 10px;border: 1px solid rgb(70, 70, 70)" class="popup" id="gerar-pdf">
            <form action="http://127.0.0.1:8000/emprestimo/get-pdf" method="get" style="display: flex;align-items: center;align-content: center;flex-wrap: wrap;">
                <p style="text-align: center; width: 100%;">Escolha os filtros para gerar o PDF</p>
                <ul style="list-style-type:none;width: 100%;">
                    <li style="display: inline-block;margin: 5px;">
                        <p class="filter-label">Data Emprestimo DE:</p>
                        <input name="data_emprestimo_de" class="form-control input-filtro" type="date">
                    </li>
                    <li style="display: inline-block;margin: 5px;">
                        <p class="filter-label">Data Emprestimo Até:</p>
                        <input name="data_emprestimo_ate" class="form-control input-filtro" type="date">
                    </li>
                    <li style="display: inline-block;margin: 5px;">
                        <p class="filter-label">Data Devolução DE</p>
                        <input name="data_devolucao_de" class="form-control input-filtro" type="date">
                    </li>
                    <li style="display: inline-block;margin: 5px;">
                        <p class="filter-label">Data Devolução Até</p>
                        <input name="data_devolucao_ate" class="form-control input-filtro" type="date">
                    </li>
                    <li style="display: inline-block;margin: 5px;">
                        <p class="filter-label">Status</p>
                        <select name='entrega' class="form-select input-filtro">
                            <option value=""></option>                    
                            <option value="Entregue">Entregue</option>
                            <option value="Não Entregue">Não Entregue</option>
                            <option value="Atrasado">Atrasado</option>
                        </select>
                    </li>
                    <button  class="btn btn-info botao-filtro" type="submit" >Gerar PDF</button>
                </ul>
            </form>
        </div>
        
    </div>
    <table class="table table-striped table-bordered table-condensed table-hover">      <!--criar tabela-->
        <thead>                         <!--cabeça da tabela-->
            <tr>                        <!--criar o nome das colunas-->
                <th >ID_leitor</th>
                <th >Leitor</th>
                <th >Tombo</th>
                <th >Livro</th>
                <th >Data Empréstimo</th>
                <th >Endereço</th>
                <th>Bairro</th>
                <th >Status</th>
                <th >Editar</th>
                <th >+14 dias</th>
            </tr>
        </thead>
        <tbody>                         <!--criar o corpo da tabela-->
            {% for emprestimo in emprestimo %}
            <tr>
                <td>{{ emprestimo.leitor.leitor_id }}</td>
                <td>{{ emprestimo.leitor.nome }}</td>
                <td>{{ emprestimo.livro.tombo }}</td>
                <td>{{ emprestimo.livro.titulo }}</td>
                <td>{{ emprestimo.data_emprestimo }}</td>
                <td>{{ emprestimo.leitor.endereco}}</td>
                <td>{{emprestimo.leitor.bairro}}</td>
                <td>{{ emprestimo.status }}</td>
                <td>
                    <a href="{% url 'emprestimo' %}/{{emprestimo.id}}">
                        <button class="botao-icone">&#x1F4DD</button>             <!--emoji &#x1F4DD editar-->
                    </a>
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input name="id" value="{{emprestimo.id}}" type="hidden">
                        <button name="add_14_days" class="botao-icone" type="submit" id="renovar" >&#x1F504</button>
                    </form>
                </td>      
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="teste">
        <span>
            {% if emprestimo.has_previous %}
                <a href="?page=1&leitor_id={{leitor_id}}&tombo={{tombo}}&data_emprestimo={{data_emprestimo}}&data_devolucao=&entrega={{entrega}}">&laquo; Primeira</a>
                <a href="?page={{ emprestimo.previous_page_number }}&leitor_id={{leitor_id}}&tombo={{tombo}}&data_emprestimo={{data_emprestimo}}&data_devolucao=&entrega={{entrega}}">Anterior</a>
            {% endif %}
    
            <span>
                Página {{ emprestimo.number }} de {{ emprestimo.paginator.num_pages }}.
            </span>
    
            {% if emprestimo.has_next %}
                <a href="?page={{ emprestimo.next_page_number }}&leitor_id={{leitor_id}}&tombo={{tombo}}&data_emprestimo={{data_emprestimo}}&data_devolucao=&entrega={{entrega}}">Próxima</a>
                <a href="?page={{ emprestimo.paginator.num_pages }}&leitor_id={{leitor_id}}&tombo={{tombo}}&data_emprestimo={{data_emprestimo}}&data_devolucao=&entrega={{entrega}}">lÚltima &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script> //confirmação de renovação do empréstimo - ainda em desenvolvimento
    /*const renovar = document.querySelector("#renovar")

    renovar.addEventListener("click", () =>{
        confirm("Deseja renovar ?"){
            if (renovar == true){
                alert("Renovado com sucesso!");
            }
            else{
                alert("Cancelado");
            }
        }
    })*/
    /* abaixo, tenho que testar
    var renovar=confirm("Deseja renovar o empréstimo ?");
    if (renovar == true){
        alert("Renovação realizada com sucesso!");
    }
    else{
        alert("Renovação cancelada!");
    }*/
</script>

{% endblock %}