{% extends 'biblioteca/base.html' %}
{% block title%}Cadastro Emprestimo{% endblock %}
{% block content %}
<form method="post" class="box">
    {% csrf_token %}
    <h3 class="titulo_leitor">Novo Empréstimo</h3>   <!--título tabela-->
    <ul style="list-style-type:none" class="box-cadastro">
        <li class="item-box-cadastro">
            <p class="label-cadastro">ID Leitor</p>
            <input name="leitor_id" class="form-control" type="number" size="4" autocomplete="off">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Tombo</p>
            <input name="tombo" class="form-control" type="number" size="4" autocomplete="off">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Data Emprestimo</p>
            <input name="data_emprestimo" class="form-control" type="date" size="5">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Prazo Devolução</p>
            <input name="data_devolucao_prevista" class="form-control" type="date" size="5">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Observação emprestimo</p>
            <textarea name="obs_emprestimo" class="form-control" style="width: 70%;"></textarea>
        </li>
        <li class="item-box-cadastro">
            <input class="btn btn-primary" type="submit" value="Salvar">
        </li>
    </ul> 
</form>
<br>

{% endblock %}