{% extends 'biblioteca/base.html' %}
{% block title%}Cadastro Emprestimo{% endblock %}
{% block content %}
<form method="post" class="box">
    {% csrf_token %}
    <h3 class="titulo_leitor">Novo Empréstimo</h3>   <!--título tabela-->
    <ul style="list-style-type:none" class="box-cadastro">
        <li class="item-box-cadastro">
            <p class="label-cadastro">Nome do leitor</p>
            <select name="leitor_id" class="form-select">
                <option value=""></option>
                {% for leitor in leitor %}
                <option value="{{leitor.leitor_id}}">{{leitor.nome}}</option>
                {% endfor %}
            </select>
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Titulo / tombo</p>
            <select name="tombo" class="form-select">
                <option value=""></option>
                {% for livro in livro %}
                <option value="{{livro.tombo}}">{{livro.titulo}} / tombo: {{livro.tombo}}</option>
                {% endfor %}
            </select>
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Data Emprestimo</p>
            <input name="data_emprestimo" class="form-control" type="date" size="5">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Prazo Devolução Prevista</p>
            <input name="data_devolucao_prevista" class="form-control" type="date" size="5">
        </li>
        <li class="item-box-cadastro">
            <p class="label-cadastro">Observação emprestimo</p>
            <textarea name="obs_emprestimo" class="form-control" style="width: 70%;"></textarea>
        </li>
        <li class="item-box-cadastro">
            <input class="btn btn-primary" type="submit" value="Salvar">
        </li>
    </ul> 
</form>
<br>


<style>
    /* Estilos para o pop-up */
    #popup-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .popup-content p {
        color: green;
    }

    .box-close {
        background: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .box-close:hover {
        background: darkgreen;
    }
</style>

<div id="popup-box">
    <div class="popup-content">
        <p>Empréstimo realizado com sucesso!</p>
        <button class="box-close" onclick="fecharPopup()">Fechar</button>
    </div>
</div>

<script>
    function fecharPopup() {
        document.getElementById("popup-box").style.display = "none";
    }

    document.querySelector("form").addEventListener("submit", function(event) {
        // Impedir o envio padrão do formulário
        event.preventDefault();

        // Exiba o popup
        document.getElementById("popup-box").style.display = "flex";
    });
</script>

{% endblock %}