{% load static %}
<nav>                                                   <!--menu de navegação-->
    <ul>                                                <!--lista não ordenada-->
        <li>                                            <!--itens da lista-->
            <a href="wp2_inicio.html"><u>Início</u></a>                <!--link-->
        </li>
        <li class="dropdown">                           <!--criar dropdown menu para aba leitores-->
            <a href="">Leitores &#9660</a>              <!--link para acessar a página, &#9660 seta para baixo-->
            <div class="submenu">                       <!--submenu para aba leitores-->
                <a href="wp31_leitor-geral.html">Relação Completa</a>         <!--link dos itens do submenu-->
                <a href="wp32_novo-leitor.html">Cadastrar Novo Leitor</a>
              <!--  <a href="wp33_localizar-leitor.html">Localizar Leitor</a>   removendo esse link para filtrar na própria página-->
            </div>
        </li>
        <li class="dropdown1">                          <!--novo dropdown menu para a aba acervo-->
            <a href="">Acervo &#9660</a>
            <div class="submenu1">
                <a href="wp41_acervo-geral.html">Relação Completa</a>
                <a href="wp42_novo-livro.html">Radastrar Novo Livro</a>
        <!--    <a href="wp43_localizar-livro.html">Localizar Livro</a>     acho que não precisa dessa pagina-->
            </div>
        </li>
        <li class="dropdown2">
            <a href="">Empréstimo &#9660</a>
            <div class="submenu2">
                <a href="wp51_status-geral.html">Status Geral</a>
                <a href="wp52_novo-emprestimo.html">Cadastrar Novo Empréstimo</a>
            </div>
        </li>
        <li>
            <a href="wp6_logout.html">Sair &#10149</a>                 <!--logout, &#10149 indicação de sair-->
        </li>
    </ul>
</nav>