{% load static %}

<nav>                                                   <!--menu de navegação-->
    <ul>                                                <!--lista não ordenada-->
        <li>                                            <!--itens da lista-->
            <a href="{% url 'inicio' %}"><u>Início</u></a>                <!--link-->
        </li>
        <li class="dropdown">                           <!--criar dropdown menu para aba leitores-->
            <a href="">Leitores &#9660</a>              <!--link para acessar a página, &#9660 seta para baixo-->
            <div class="submenu">                       <!--submenu para aba leitores-->
                <a href="{% url 'leitor-geral' %}">Relação Completa</a>         <!--link dos itens do submenu-->
                <a href="{% url 'cadastro-leitor' %}">Cadastrar Novo Leitor</a>
              <!--  <a href="wp33_localizar-leitor.html">Localizar Leitor</a>   removendo esse link para filtrar na própria página-->
            </div>
        </li>
        <li class="dropdown1">                          <!--novo dropdown menu para a aba acervo-->
            <a href="">Acervo &#9660</a>
            <div class="submenu1">
                <a href="{% url 'acervo-geral' %}">Relação Completa</a>
                <a href="{% url 'cadastro-acervo' %}">Cadastrar Novo Livro</a>
        <!--    <a href="wp43_localizar-livro.html">Localizar Livro</a>     acho que não precisa dessa pagina-->
            </div>
        </li>
        <li class="dropdown2">
            <a href="">Empréstimo &#9660</a>
            <div class="submenu2">
                <a href="{% url 'emprestimo' %}">Status Geral</a>
                <a href="{% url 'cadastro-emprestimo' %}">Cadastrar Novo Empréstimo</a>
            </div>
        </li>
        <li>
            <a href="wp6_logout.html">Sair &#10149</a>                 <!--logout, &#10149 indicação de sair-->
        </li>
    </ul>
    <li id="translate">                                 <!--acessibilidade - idiomas-->
        <div class="gtranslate_wrapper">Idioma</div>    <!--104 idiomas-->
    </li>                                               <!--gtranslate.io-->
    <div vw class="enabled">                            <!--acessibilidade libras_linhas 37 a 42-->
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>                                            <!--fim libras-->
</nav>
